.container#content {
  margin-top: 60px;
}
body {
  background-color: #ffffff;
  font-family: $site-font;
  color: $paragraph-color;
  font-size: 1.2rem;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  position: relative;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  font-size: 1.4rem;
  color: $title-color;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}
p {
  text-indent: 4rem;
}
