@import url("https://fonts.googleapis.com/css?family=Raleway");

$site-font: "Raleway", sans-serif;
$title-color: #191f2c;
$paragraph-color: #4a5568;
$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
